* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Exo 2', sans-serif;
}



body {
    background-image: url(./img/kettlebell-row.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

nav ul {

    display: flex;
    color: white;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 30px;
    cursor: pointer;
    list-style: none;
}

.frase-principal h1 {
    display: flex;
    text-align: left;
    color: white;
    font-size: 80px;
    margin-top: 200px;
    margin-left: 100px;
}

.frase-principal p {
    display: flex;
    text-align: left;
    color: white;
    padding: 10px;
    font-size: 35px;
    margin-left: 95px;
}

footer{
    
    padding-top: 100px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 170vh;
    justify-content: center;
}


.social{
display: flex;
gap: 30px;
}

.social img {
    height: 50px;
    border-radius: 50%;
}

.social a{
    background: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    justify-content: center;
    cursor: pointer;
    margin-top: 8px;
   }

   .social a:hover{
    transform: scale(1.3);
    transition: 0.5s;
   }

   @media screen and (max-width: 615px) {
        body{
            width: 300%;
            
           
        }

        .frase-principal h1 p{
            width: 100% ;
                   
        } 

        footer{
            margin-left: 50%;
            
        }
   }
   