*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}


body{

    background: rgb(6, 6, 104);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #fafafa;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px  rgba(0,0,0, 0.5);
    overflow: hidden;
}

.header{
    background: linear-gradient(120deg, #e6d220 0%, #342ac2 100%);
    padding: 24px;
    text-align: center;
    color: black
}


.form{
    padding: 18px;
    }

.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
    }

.form-content label{

    display: inline-block;
    margin-bottom: 4px;
}

.form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdd;
    }


.form-content a{
        position: absolute;
        bottom: -8px;
        left: 0;
        visibility: hidden;
    }

.form button{
        background-color: #e6d220;
        color: black;
        width: 100%;
        border-radius: 14px;
        padding: 10px;
        border: 0;
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
    }

.form-content.error input{
border-color: #ff3b25;
}

.form-content.error a{
color: #ff3b25;
visibility: visible;
}







